# Ignore virtual environments
venv/
.env/

# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
